*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.page {
    max-width: 1240px;
    min-height: 100vh;
    margin: 0 auto;
	padding: 40px;
	font-family: sans-serif;
	background: #F5F5F5;
	font-size: 19px;
}

h1 {
	padding-bottom: 20px;
}

section {
	display: flex;
	flex-wrap: wrap;
	gap: 20px;
}

.image {
	display: flex;
	flex-wrap: wrap;
	gap: 20px;
	justify-content: center;
}
img {
	width: 300px;
	height: 190px;
	border-radius: 15px 15px 0 0;
}

figcaption {
	width: 300px;
	text-align: right;
	background: #37516B;
	color: #fff;
	padding: 10px 15px;
	border-radius: 0 0 15px 15px;
}

@media all and (min-width: 800px) {
	section {
		position: relative;
		max-width: 500px;
	}
	.image {
		flex-direction: column;
		position: absolute;
		right: -317px;
		top: 0;
	}
}